* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #444;
  overflow: hidden;
}

.material-icons {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 2;
  /* transition: color 0.7s; */

}

.hidden {
  display: none;
}

nav {
  position: absolute;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  background-color: #333;
  transition: all 0.7s;

}

nav ul {
  list-style: none;
  padding: 20px;
}

nav ul li {
  margin-bottom: 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

nav ul li a:hover {
  color: #ffcc00;
}
